.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px;
    max-width: 600px;
    border-radius: 2px;
    width: fit-content;
    /* box-shadow: rgb(197, 197, 197) 1px 1px 8px; */
    transition: all 300ms ease, -webkit-box-shadow 400ms ease;
    margin-bottom: 20px;
}

.card:hover {
    box-shadow: rgb(179, 179, 179) 0px 0px 24px;
    background: rgb(195, 227, 233);
}

.card-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card-title {
    font-weight: bold;
    flex: 1;
    font-size: var(--ssub-title-font-size);
}

.card-edit, .card-delete {
    fill: darkgray;
    cursor: pointer;
    height: 24px;
    width: 24px;
    margin: 2px;
}
.card-delete{
    height: 22px;
    width: 22px;
}

.card-edit:hover, .card-delete:hover {
    fill: rgb(94, 94, 94);
}
