.app {
    height: 100%;
}

.sider, .app-body, .header, .content, .footer, .sider-title {
    background-color: whitesmoke;
    color: rgb(2, 10, 20);
}

.sider, .header, .sider-title {
    background-color: white;
}

.header {
    box-shadow: lightgray 0px 0px 12px;
    z-index: 2;
    position: relative;
}

.sider-title {
    flex: 1;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    color: black;
}