.app {
    height: 100%;
    --gap-common: 20px;
}

.identify-holder {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 120px;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

.loading-holder {
    margin: auto;
    text-align: center;
    font-size: x-large;
    margin-top: 120px;
}

.identify-holder>* {
    margin-bottom: 5px;
}

.sider, .app-body, .header, .header-text, .content, .footer, .sider-title {
    background-color: whitesmoke;
    color: rgb(2, 10, 20);
}

.sider, .header, .header-text, .sider-title {
    background-color: white;
}

.header {
    box-shadow: lightgray 0px 0px 12px;
    z-index: 2;
    position: relative;
}

.header-text {
    box-shadow: lightgray 0px 0px 12px;
    z-index: 2;
    position: relative;
    padding: 0px var(--gap-common);
    font-weight: bold;
}

.sider-title {
    flex: 1;
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    color: black;
}