.clipboard {
    --gap-common: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.clipboard-content {
    flex: 1;
    display: flex;
    flex-direction: row;
    position: relative;
}

.clipboard-title {
    padding: 0px var(--gap-common);
    font-weight: bold;
}

.clipboard-textare-holder, .clipboard-result-holder {
    padding: var(--gap-common);
    width: 50%;
}

.clipboard-textarea {
    width: 100%;
    padding: 5px;
    font-family: Consolas, apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: var(--gap-common);
}

.clipboard-result-holder {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.clipboard-result-card {
    width: 100%;
    max-height: 300px;
    margin-top: var(--gap-common);
    transition: all 200ms ease-in-out;
}

.clipboard-result-card:hover {
    box-shadow: lightgray 1px 1px 18px;
}

.clipboard-view-holder {
    position: absolute;
    transition: all 200ms ease;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clipboard-view-content {
    display: flex;
    flex-direction: column;
    white-space: break-spaces;
    margin: auto;
    min-width: 30%;
    max-width: 80%;
    min-height: 30%;
    max-height: 90%;
    scroll-behavior: smooth;
    overflow: auto;
    height: fit-content;
    padding: var(--gap-common);
    background-color: white;
    box-shadow: lightgray 1px 1px 18px;
    margin: 0px;
}