.doc-editor {
    display: flex;
    flex-direction: column;
    --gap-common: 20px;
}

.editor-header {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    padding: 0px 20px;
    align-items: center;
}

.editor-title-input {
    height: fit-content;
    align-self: center;
    margin-right: var(--gap-common);
}

.editor-holder, .editor-title-input, .editor-codemirror, .editor-preview {
    flex: 1;
}

.editor-holder {
    display: flex;
    flex-direction: row;
    padding: var(--gap-common);
}

.editor-codemirror {
    margin-right: calc(var(--gap-common) / 2);
}

.editor-preview {
    padding: calc(var(--gap-common) / 2);
    border: 1px solid gray;
    margin-left: calc(var(--gap-common) / 2);
}

.CodeMirror {
    height: 100%;
}

.editor-preview pre {
    padding: 5px;
    background-color: #282c34;
    color: rgb(146, 252, 234);
}

.editor-preview pre code {
    color: inherit;
    background-color: inherit;
}

.editor-preview code {
    border-radius: 2px;
    background-color: #f9f2f4;
    color: #c7254e;
}