.homepage {
    display: flex;
    flex-direction: column;
    --gap-common: 20px;
}

.homepage>.header {
    padding: 0px var(--gap-common);
    font-weight: bold;
}

.homepage-content {
    justify-self: center;
    align-self: center;
    text-align: center;
    flex: 1;
    font-style: italic;
    font-family: '-webkit-pictograph', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
}