.root {
    height: 100%;
}

h1 {
    font-size: xx-large;
}

pre code {
    color: inherit;
    background-color: inherit;
}

code {
    border-radius: 2px;
    background-color: #f9f2f4;
    color: #c7254e;
}