.app {
    height: 100%;
}

.sider, .app-body, .app-header, .app-content, .app-footer, .sider-title {
    background-color: whitesmoke;
    color: rgb(2, 10, 20);
}

.sider, .app-header, .sider-title {
    background-color: white;
}

.sider-title {
    font-size: large;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid lightgray;
}